node# Compiled output
dist/
tmp/
out-toc/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Editors and IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Tests
coverage/
test/
tests/

# Misc
.github/
.gitignore
.prettierrc
.travis.yml
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
README.md